.photo-container {
  display: flex;
  justify-content: space-around; /* Distribui o espaço entre os elementos e ao redor deles */
  flex-wrap: wrap; /* Permite que os elementos sejam dispostos em várias linhas se não couberem em uma única linha */
}

.container.geral {
  flex: 1 1 300px; /* Define a flexibilidade dos elementos e a largura mínima */
  margin: 20px; /* Adiciona espaço entre os elementos */
}

.geral {
  max-width: 100px; /* Defina o tamanho máximo que deseja para o contêiner */
  margin-left: auto; /* Centralize horizontalmente */
  margin-right: auto; /* Centralize horizontalmente */
}

.geral img {
  width: 50vh;
  margin-top: 0px;
}

#cruzeiro{
  max-width: 20vh;
}