.photo-container {
  display: flex;
  justify-content: space-around; /* Distribui o espaço entre os elementos e ao redor deles */
  flex-wrap: wrap; /* Permite que os elementos sejam dispostos em várias linhas se não couberem em uma única linha */
}

.container.geral {
  flex: 1 1 300px; /* Define a flexibilidade dos elementos e a largura mínima */
  margin: 20px; /* Adiciona espaço entre os elementos */
}

.geral {
  max-width: 100px; /* Defina o tamanho máximo que deseja para o contêiner */

}

.conteudo-com-borda {
  background-color: #ccc;
  padding: 10px; /* Adiciona espaço interno para o conteúdo */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
}

.border{
  border: 2px solid black;
  border-radius: 10px;
}


.imagem_demonstrativa{
  display: flex;
  background-color: black;
  height: 26vh;
  width: 51vh;
}

.geral img {
  width: 50vh;
  margin-top: 0px;
  max-height: 25vh;
  margin-left: auto; /* Centralize horizontalmente */
  margin-right: auto; /* Centralize horizontalmente */
  margin-bottom: auto;
  margin-top: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.titulo{
  text-align: center;
  font-family: Arial, sans-serif; /* Escolha uma fonte agradável */
  font-size: 20px; /* Escolha um tamanho de fonte apropriado */
  color: #0f4571; /* Escolha uma cor de texto agradável */
  background-color: #c2bfbf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione uma sombra suave */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text-card{

  font-family: Arial, sans-serif; /* Escolha uma fonte agradável */
  font-size: 16px; /* Escolha um tamanho de fonte apropriado */
  line-height: 1.1; /* Escolha uma altura de linha confortável */
  padding: 10px; /* Adicione algum espaçamento interno */
  background-color: #c2bfbf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione uma sombra suave */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.text-card:hover {
  background-color: #e8e8e8; /* Altere a cor de fundo quando passar o mouse */
}

.a{
  text-decoration: none;
}