/* styles.css */

/* Estilos para o cabeçalho */
.header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    padding: 20px; /* Espaçamento interno do cabeçalho */
  }
  
  .logo {
    width: 100px; /* Largura da logo */
  }
  
  nav ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno das listas */
  }
  
  nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin-right: 20px; /* Espaçamento entre os itens da lista */
  }
  
  nav ul li a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
  }
  
  /* Estilos para o conteúdo da página */
  .content {
    margin-top: 20px; /* Espaçamento superior */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda ao redor do conteúdo */
  }
  