/* Estilos para o cabeçalho */
  
  .logo {
    width: 100px; /* Largura da logo */
    margin-left: auto;
  }
  
  /* Estilos para o conteúdo da página */
  .content {
    margin-top: 20px; /* Espaçamento superior */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda ao redor do conteúdo */
  
}

  #text-box{
    position: absolute;
    bottom: 80%;
    left: 37% 
  }

  h1{
    color: rgb(83, 83, 83);
    text-align: center;
  }
  p{
    color: rgb(83, 83, 83);
    text-align: center;
  }