/* Estilos para o cabeçalho */
  
  .logo {
    width: 100px; /* Largura da logo */
    margin-left: auto;
  }
  
  /* Estilos para o conteúdo da página */
  .content {
    margin-top: 20px; /* Espaçamento superior */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda ao redor do conteúdo */
  
}
  #page-container {
    position: relative;
    min-height: 100vh;
  }

  #text-box{
    position: absolute;
    bottom: 50%;
    left: 50%
  }

  h1{
    color: rgb(83, 83, 83);
  }
  p{
    color: rgb(83, 83, 83);
  }