header {
  background-color: #ec6c1b; /* Cor de fundo do cabeçalho */
  padding: 10px 0; /* Espaçamento interno no topo e na base */
  width: 100%;
  text-align: right;
  margin: 0; /* Remove a margem padrão do cabeçalho */
  max-width: 100%; /* Adiciona uma largura máxima para o header */
  position: relative;
}
  
.logo {
  float: left;
}
.logo img {
  max-width: 200px;
  margin-top: 0px;
}

nav {
  padding-top: 40px;
  overflow: hidden;
}

  nav ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
  }
  
  nav ul li {
    display: inline; /* Exibe os itens da lista horizontalmente */
    margin-right: 20px; /* Adiciona espaçamento entre os itens da lista */
  }
  
  nav ul li a {
    color: #323639; /* Cor do texto dos links */
    text-decoration: none; /* Remove a decoração do texto dos links */
    font-weight: bold; /* Define o peso da fonte dos links */
  }

  nav ul li button {
    background: none;
    font-weight: bold; 
    border: none;
    color: #323639;
    text-decoration: none;
  }