* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #e4e4e4;
}
body {
  size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  background-color: #ee7d37; /* Cor de fundo do cabeçalho */
  padding: 10px 0; /* Espaçamento interno no topo e na base */
  width: 100%;
  text-align: right;
  margin: 0; /* Remove a margem padrão do cabeçalho */
}
  
  .logo img {
    max-width: 200px; 
    margin-top: 0px;
    /* Define a largura máxima da imagem da logo */
  }
  
  nav ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
  }
  
  nav ul li {
    display: inline; /* Exibe os itens da lista horizontalmente */
    margin-right: 20px; /* Adiciona espaçamento entre os itens da lista */
  }
  
  nav ul li a {
    color: #323639; /* Cor do texto dos links */
    text-decoration: none; /* Remove a decoração do texto dos links */
    font-weight: bold; /* Define o peso da fonte dos links */
  }
  