header {
  background-color: #ee7d37; /* Cor de fundo do cabeçalho */
  padding: 10px 0; /* Espaçamento interno no topo e na base */
  padding-right: 100%;
  width: 100%;
  text-align: right;
  margin: 0; /* Remove a margem padrão do cabeçalho */
}
  
  .logo img {
    max-width: 200px; 
    margin-top: 0px;
    box-align:end;
    /* Define a largura máxima da imagem da logo */
  }
  
  nav ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove o preenchimento padrão */
  }
  
  nav ul li {
    display: inline; /* Exibe os itens da lista horizontalmente */
    margin-right: 50px; /* Adiciona espaçamento entre os itens da lista */
  }
  
  nav ul li a {
    color: #323639; /* Cor do texto dos links */
    text-decoration: none; /* Remove a decoração do texto dos links */
    font-weight: bold; /* Define o peso da fonte dos links */
  }