* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #e4e4e4;
}
body {
  size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#div-container{
  size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 250px;
  background-color: #ec6c1b;
  border: 2px solid #fc5000;
  position: fixed;
  top: 0;
  left: 0;
}
.logo {
  flex: 1;
}
.logo img {
  max-width: 100%;
}/* App.css */

.logo {
  flex: 1;
}

.logo img {
  max-width: 100%;
}
