* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-image: url('./assets/background.jpg');
  background-size: cover; /* Redimensiona a imagem para cobrir todo o elemento */
  /* Outras propriedades de estilo */
}
