* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #e4e4e4;
}
body {
  size: 100%;
  padding: 0;
  margin: 0;
}
.logo {
  flex: 1;
}
.logo img {
  max-width: 100%;
}/* App.css */

.logo {
  flex: 1;
}

.logo img {
  max-width: 100%;
}
